a {
    text-decoration: none;
    color:black;
}

body{
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(250, 250, 250);
}

section{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

}

/* header */
header{
    display:flex;
    justify-content: space-between;
}

header nav ul{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    list-style:none;
}

header nav ul li{
    padding:10px 15px;
}

/* hero */
.hero{
    align-items:center;
    justify-content: center;
}
.hero-title{
    margin: 25px;
}

.hero h1{
    font-size: 50px;
    font-weight: lighter;
    margin-bottom: 0px;
}

.hero h3{
    font-size: 25px;
    font-weight: lighter;
    margin-top: 0px;
}

.hero img{
    flex:1 12%
}

/* content wrapper */
.page-wrapper{
    justify-content: center;
}
/* left side */
.left-title{
    flex: 0 0 20%;
    margin: 0;
    text-align: right;
    padding-right: 50px;
}

/* about */
.about p{
    margin: 0;
    max-width: 635px;
}

/* work */
.work-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.work-grid-container > div {
    border: 1px solid black;
    padding: 70px 100px;
}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

/* contact */

/* footer */
footer h3{
    font-weight: lighter;
    text-align: center;
}

/* Media query for tablets or smaller */
@media screen and (max-width: 872px) {
    /* left side */
.left-title{
    
    margin: 0;
    text-align: center;
    padding-right: 0px;
}

/* about */
.about p{
    margin: 0;
    text-align: center;
    
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* work */
.work{
    display: flex;
    flex-direction: column;
}

.work-grid-container{
    display: flex;
    flex-direction: column;
}

.work-grid-contaier > div{
    margin: 25px;
    padding: auto ;
}
.grid-item1{
    grid-column-start: auto;
    grid-column-end: auto;
}

/* contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}


}